.movie-details-container {
  display: flex;
  background-color: black;
  border: 3px hotpink solid;
  color: white;
  width: 100vw;
}

.movie-details {
  border: 10px solid darkorchid;
  display: flex;
  flex-direction: column;
  align-items: center
 }

.movie-img {
    width: 47%;
    margin-top: 1%;
    margin-left: -44%;
}

.title {
 font-size: 4em;
 border: 2px solid white;
 font-style: italic;
 margin-right: -55%;
 margin-top: -26%;
}

.release-date {
 border: 2px solid red;
}

.overview {
  border: 2px solid yellow;
  width: 30%;
  font-size: 1em;
  font-style: italic;
  margin-right: -56%;
}

.genre {
 border: 2px solid orange;
}

.runtime {
 border: 2px solid green ;
}

.tagline {
  border: 2px solid blueviolet;
  margin-top: -2%;
  font-size: 1.25em;
  margin-right: -55%;
}

.rating {
 border: 2px solid blue;
}