
.movie-details {
  display: flex;
  height: 100vh;
  background-color: black;
  color: white;
}

.left-details {
  padding: 20px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.movie-img {
  border: 1px solid darkgray;
  box-shadow: 10px 10px red;
  /* border-radius: 15px 50px 30px 5px; */
}

.details-bottom-left {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5%;
  /* padding: 10px; */
}

.release-date,
.runtime,
.rating {
  box-shadow: 5px 5px red;
  border: .5px solid darkgray;
  /* border-radius: 15px 50px 30px 5px; */
  font-size: 1.5em;
}

.right-details{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  padding: 20px;
}

.title {
  font-size: 5em;
  font-style: italic;
  box-shadow: 5px 5px red;
  border: .5px solid darkgray;
  margin-top: 4px;
  /* border-radius: 15px 50px 30px 5px; */
}

.tagline{
  font-size: 1.5em;
  font-style: italic;
 }

 .overview {
   padding: 3%;
 }
  
/* ADDS effect ==> :hover */

