.banner {
  position: relative;
  height: 400px;
  color: white;
  object-fit: contain;
}

.banner-contents {
  margin-left: 30px;
  padding-top: 150px;
  height: 190px;
}
.banner-title {
  margin: 0;
  -webkit-text-stroke: 1px black;
}
